### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_players = purchase_data['SN'].nunique()
Total_players

576

In [3]:
df = pd.DataFrame({'Total Players': Total_players}, index = [0])
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
summary_data = {'Number of Unique Items':purchase_data['Item ID'].nunique(),
                'Average Price':purchase_data['Price'].mean(),
                'Number of Purchases':purchase_data['Item ID'].count(),
                'Total Revenue':purchase_data['Price'].sum()
               }
                
summary = pd.DataFrame(summary_data, index = [0])

In [5]:
summary['Average Price'] = summary['Average Price'].astype(float)
summary['Average Price'] = summary['Average Price'].map("${:.2f}".format)
summary['Total Revenue'] = summary['Total Revenue'].map("${:.2f}".format)

summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_df = purchase_data[['SN', 'Gender']]
gender_unique = gender_df.drop_duplicates(keep='first')
gender_final = gender_unique.groupby('Gender').count()
gender_final.rename(columns={'SN': 'Total Count'}, inplace=True)
#gender_final
Total_count = gender_final['Total Count'].sum()

In [7]:
gender_final.reset_index(inplace=True)

gender_final['Percentage of Players'] = (gender_final['Total Count']/Total_count) * 100

gender_final['Percentage of Players'] = gender_final['Percentage of Players'].map("{:.2f}%".format)
gender_final.set_index('Gender')

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchasing_average = purchase_data.groupby('Gender').mean()
purchasing_average['Price'] = purchasing_average['Price'].map("${:.2f}".format)
purchasing_average =purchasing_average.rename(columns={'Price':'Average Purchase Price'})
purchasing_average = purchasing_average.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)

In [9]:
purchasing_total = purchase_data.groupby('Gender').sum()
purchasing_total = purchasing_total.rename(columns = {'Price': 'Total Purchase Value'})
purchasing_total['Total Purchase Value'] = purchasing_total['Total Purchase Value'].map("${:,.2f}".format) 
purchasing_total = purchasing_total.drop(['Purchase ID','Age','Item ID'], axis=1)

In [10]:
purchasing_count = purchase_data.groupby('Gender').count()
purchasing_count = purchasing_count.rename(columns={'Purchase ID': 'Purchase Count'})
purchasing_count = purchasing_count.drop(['SN','Age','Item ID','Item Name','Price'],axis=1)

In [11]:
purchasing_merge = pd.merge(purchasing_count,purchasing_average, left_index=True, right_index=True)

In [185]:
purchasing_merge = pd.merge(purchasing_merge,purchasing_total,left_index=True, right_index=True )

In [13]:
personal_total = purchase_data.groupby('SN').sum()

In [14]:
personal_merge = pd.merge(personal_total,gender_unique, on = 'SN' )

In [15]:
personal_merge = personal_merge.groupby('Gender').mean()

In [16]:
personal_merge['Price'] = personal_merge['Price'].map("${:,.2f}".format)

In [17]:
personal_merge = personal_merge.drop(['Purchase ID', 'Age','Item ID'], axis = 1)

In [18]:
personal_merge = personal_merge.rename(columns={'Price': 'Avg Total Purchase per Person'})

In [19]:
Purchasing_Analysis_Gender_merge = pd.merge(purchasing_merge,personal_merge,left_index=True, right_index=True  )
Purchasing_Analysis_Gender_merge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [60]:
bins = [0, 9, 14, 19, 24, 29,34,39,100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

In [184]:
purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'], bins, labels=group_names)

In [183]:
purchase_data_bin = purchase_data.groupby('Age Ranges').count()

In [182]:
age_df2 = purchase_data[['Age', 'SN','Age Ranges']]
#df_merged2']]
age_unique2 = age_df2.drop_duplicates(keep='first')
age_final = age_unique2.groupby('Age Ranges').count()

In [181]:
Total_count_players = age_final['Age'].sum()
age_final['Percentage of Players'] = (age_final['Age']/Total_count_players ) * 100
age_final['Percentage of Players'] = age_final['Percentage of Players'].map("{:.2f}%".format)

In [177]:
age_final = age_final.rename(columns={'Age':'Total Count'})
age_final

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
purchase_data_bin1 = purchase_data.groupby('Age Ranges').count()
purchase_data_bin1 = purchase_data_bin1.rename(columns={'Purchase ID':'Purchase Count'})
purchase_data_bin1 = purchase_data_bin1.drop(['SN','Age','Gender','Item ID','Item Name','Price'], axis=1)

In [82]:
purchase_data_bin2 = purchase_data.groupby('Age Ranges').mean()
purchase_data_bin2 = purchase_data_bin2.rename(columns={'Price':'Average Purchase Price'})
purchase_data_bin2['Average Purchase Price'] = purchase_data_bin2['Average Purchase Price'].map("${:,.2f}".format) 
purchase_data_bin2 = purchase_data_bin2.drop(['Purchase ID','Age','Item ID'], axis=1)

In [81]:
purchase_data_bin3 = purchase_data.groupby('Age Ranges').sum()
purchase_data_bin3 = purchase_data_bin3.rename(columns={'Price':'Total Purchase Value'})
purchase_data_bin3['Total Purchase Value'] = purchase_data_bin3['Total Purchase Value'].map("${:,.2f}".format) 
purchase_data_bin3 = purchase_data_bin3.drop(['Purchase ID','Age','Item ID'], axis=1)

In [79]:
purchasing_bin_merge = pd.merge(purchase_data_bin1,purchase_data_bin2, left_index=True, right_index=True)

In [99]:
purchasing_bin_merge = pd.merge(purchasing_bin_merge,purchase_data_bin3,left_index=True, right_index=True )

In [98]:
average_total = purchase_data.groupby('SN').sum()

In [97]:
age_df = purchase_data[['SN', 'Age Ranges']]
age_unique = age_df.drop_duplicates(keep='first')
total_count1 = purchase_data.groupby('SN').sum()
df_merged = pd.merge(total_count1,age_unique,on='SN')
df_merged = df_merged.groupby('Age Ranges').mean()
df_merged['Price'] = df_merged['Price'].map("${:,.2f}".format) 
df_merged = df_merged.rename(columns={'Price': 'Avg Total Purchase per Person'})
df_merged = df_merged.drop(['Purchase ID','Age','Item ID'],axis=1)

In [96]:
df_merged_final = pd.merge(purchasing_bin_merge,df_merged,left_index=True, right_index=True )
df_merged_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
purchase_data1 = purchase_data.groupby('SN').count()
purchase_data1 = purchase_data1.sort_values('Purchase ID', ascending=False)
purchase_data1 = purchase_data1.drop(['Age','Gender','Item ID','Item Name','Price'], axis=1)
purchase_data1 = purchase_data1.rename(columns = {'Purchase ID': 'Purchase Count'})

In [34]:
purchase_data2 = purchase_data.groupby('SN').mean()
purchase_data2 = purchase_data2.drop(['Purchase ID','Age','Item ID'], axis=1)
purchase_data2 = purchase_data2.rename(columns = {'Price': 'Average Purchase Price'})
purchase_data2['Average Purchase Price'] = purchase_data2['Average Purchase Price'].map("${:,.2f}".format)

In [33]:
purchase_data3 = purchase_data.groupby('SN').sum()
purchase_data3 = purchase_data3.drop(['Purchase ID','Age','Item ID'], axis=1)
purchase_data3 = purchase_data3.rename(columns = {'Price': 'Total Purchase Value'})
purchase_data3['Total Purchase Value'] = purchase_data3['Total Purchase Value'].map("${:,.2f}".format) 
purchase_data3 = purchase_data3.sort_values('Total Purchase Value', ascending=False)

In [29]:
top_spenders_merge = pd.merge(purchase_data1,purchase_data2, left_index=True, right_index=True)

In [30]:
top_spenders_merge_final = pd.merge(top_spenders_merge,purchase_data3, left_index=True, right_index=True)
top_spenders_merge_final.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
most_popular_grouped = purchase_data.groupby(['Item ID','Item Name']).count()
most_popular_grouped  = most_popular_grouped.drop(['SN','Age','Gender','Price'], axis=1)
most_popular_grouped = most_popular_grouped.rename(columns = {'Purchase ID': 'Purchase Count'})

In [57]:
most_popular_grouped1 = purchase_data.groupby(['Item ID','Item Name']).mean()
#item_data2.loc['Fiery Glass Crusader']
most_popular_grouped1 = most_popular_grouped1.drop(['Purchase ID','Age'], axis=1)
most_popular_grouped1 = most_popular_grouped1.rename(columns = {'Price': 'Item Price'})
most_popular_grouped1['Item Price'] = most_popular_grouped1['Item Price'].map("${:,.2f}".format)

In [56]:
most_popular_grouped2 = purchase_data.groupby(['Item ID','Item Name']).sum()

#item_data3.loc['Oathbreaker, Last Hope of the Breaking Storm']
most_popular_grouped2 = most_popular_grouped2.drop(['Purchase ID','Age'], axis=1)
most_popular_grouped2 = most_popular_grouped2.rename(columns = {'Price': 'Total Purchase Value'})
most_popular_grouped2['Total Purchase Value'] = most_popular_grouped2['Total Purchase Value'].map("${:,.2f}".format) 
#most_popular_grouped2 = most_popular_grouped2.sort_values('Total Purchase Value', ascending=False)

In [55]:
most_popular_merge = pd.merge(most_popular_grouped,most_popular_grouped1, left_index=True, right_index=True)

In [191]:
most_popular_merge_2 = pd.merge(most_popular_merge,most_popular_grouped2, left_index=True, right_index=True)

most_popular_merge_2.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [193]:
most_popular_merge_final_sorted = most_popular_merge_2.sort_values('Total Purchase Value', ascending=False)
most_popular_merge_final_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48

# Observations:

In [ ]:
#84.03% male players

In [ ]:
#Gender undisclosed has the highest average total purchase per person, $4.56

In [ ]:
#44.79% players are within the age range of 20-24